/** @jsx h */
import { h } from "preact";
import { Handlers } from "\$fresh/server.ts";

export const handler: Handlers = {
  async GET(req, ctx) {
    ${3:const resp = await ctx.render();
    return resp;}
  },
};

export default function ${1:PageName}() {
  return ${2:<div></div>};
}
